.hero-img {
    width: 100%;
    height: 50vh;
    background-image: url("../../assets/img/hero.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
